/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*new */
p{
  color:blue;}
  body{
  background-color:lightgreen;
  }
  .card{
  padding:25px;
  background-color:white;
  width:420;
   box-shadow: 10px 10px 8px #888888;
  
  
  }
  .wrap{
  display: flex;
      align-items: center;
    justify-content: center;}
  
  input[type=text]{
  width:400px;
  
  }
  
  input[type=text]:hover{border:solid;}
  textarea{
  width:400px;
  border:solid ;
  border-width: thin;
  }
  select{
  width:400px;
  
  }
  select:hover{border:solid ;}
  
  input[type=button] {
    background-color: #04AA6D;
    width:400px;
    border: solid;
    color: black;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*ext*/
  .smallshown{
    visibility: visible;
    color: red;
}
.smallhidden{
    visibility: hidden;
}

.errors{
  color: red;
}